<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact</title>
        <link rel="stylesheet" href="~/css/Home.css"/>
    </head>
    <body id = "contact">
        <a href = "Home">Home</a> | <a href = "Projects">Projects</a><br>
        <h4>If you would like to leave a comment, fill out the form below:</h4>
        <form action="action">
            Name:<br>
            <input type="text" name="firstname" placeholder="Name"><br>
            E-mail:<br>
            <input type="text" name="lastname" placeholder="E-mail"><br><br>
            Comment:<br>
            <input type="textbox" name="lastname" placeholder="Comment"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>