<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Home</title>
        <link rel="stylesheet" href="~/css/Home.css"/>
    </head>
    <body id = "bg">
        <a href = "Contact">Contact</a> | <a href = "Projects">Projects</a><br>
        <img src="~/images/banana.gif" alt="Banana" height="42" width="42">
        <h1>Steven Ramirez:</h1>
        <h4>About me:</h4>
        <p class = "text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>
        <p class = "text">totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p> 
        <p class = "text">vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,</p>
        <p class = "text">sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,</p>
        <p class = "text">qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi </p>
        <p class = "text">tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, </p>
        <p class = "text">quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
        <p class = "text">Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, </p>
        <p class = "text">vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
    </body>
</html>